<script>
	console.log('Checkout the code at https://github.com/nekiwo/imsa-grades')
</script>
<div class='classSearch {{searchdisplay}}'>
	<div id="logoContainer">
		<a href='/'>
			<img src="/assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
		</a>
	</div>
	<div id="searchBar">
		<select style="display:inline-block;" name="example" id='search'
				onchange="location.href = '/class' + encodeURI(this.value).replace('%0A', '');" placeholder="Select a class..."
				id="search">
				<option value='' selected></option>
				{{classes}}
		</select>
	</div>
	<div id="aboutContainer">
		<a style="color:white;text-decoration:none;" href="/about">About</a>
	</div>
</div>